[Unit]
Description=V2EX daily redeem
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -l -c /home/memorycancel/git/cra/main.sh

[Install]
WantedBy=default.target